<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruofei.bus_locator">

    <permission
        android:name="com.example.ruofei.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.ruofei.bus_locator.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
             Google Maps Android API v2, but you must specify either coarse or fine
             location permissions for the 'MyLocation' functionality.
        -->
        <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
        <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
        <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RouteListActivity">
            android:name=".RouteListActivity"
            android:label="@string/title_activity_route_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDCDYoiyBgsn8Imhscv417hwyW5sErNaKc" />

        <activity android:name=".BusStopListActivity" />

        <!-- <service -->
        <!-- android:name=".service.BusStatusUpdateService" -->
        <!-- android:label="Bus StatusUpdateService" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <service android:name=".service.FirebaseBusMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- <service -->
        <!-- android:name=".MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".BusStopDetailActivity"
            android:theme="@style/AppTheme.CustomTheme"
            ></activity>
    </application>

</manifest>